/* To set a text to the right
[text-align: right;]

To set a text to the center
[text-align: center;]
*/

h1 {
    text-align: center;
    /* background-color: rgb(0, 255, 255); */
}

.marker {
    /* background-color: red; */

    /* To an element get the color it
    has to have a width and height firstly*/
    width: 200px;
    height: 25px;

    /* To center an elemento using margin
    we set it with "auto", in that way 
    margin top, bottom, right and left get
    the same value */
    
    /* margin: auto; */

    /* To use diffrent values horizontal
    and vertical */
    margin: 10px auto;

}

.red {
    /* background-color: red; */
    /* background-color: rgb(255, 0,0); */

    /* To make secondary color we mix primary colors */
    /* background-color: rgb(255, 255, 0); */

    /* To create tertiary colors we mix primary color and secondary color */
    /* background-color: rgb(255, 127, 0); */
    /* background-color: rgb(127, 255, 0); */
    /* background-color:  rgb(255, 0, 0);  */
    /* background:rgb(255, 0, 0);  */
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
}

.green {
    /* background-color: green; */
    /* background-color: rgb(0, 255, 0); */
    /* background-color: rgb(0, 127, 0); */
    /* background-color: rgb(0, 255, 255); */
    /* background-color: rgb(0, 127, 255); */

    /* SET HEXADECIMAL COLORS */
    background-color: #00FF00;
}

.blue {
    /* background-color: blue; */
    /* background-color: rgb(0, 0, 255); */
    /* background-color: rgb(255, 0, 255); */
    /* background-color: rgb(255, 0, 127); */
    background-color: hsl(240, 100%, 50%);
}

.container {
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(255,255, 255); /* To make white*/
    padding: 10px 0;
}


/* Two colors that are opposite from each other on the color wheel
are called [complementary colors]. If two complementary colors 
are combined, they produce gray. But when they are placed side-by-side, these colors
produce strong visual constrast and appear brighter

It's better practice to choose one color as the dominant color, and use it's complementary 
color as an accent to bring attention to certain content on the page */



/* Decimal goes from 0-9. Hexadecimal, or base 16 values 
go from 0-9, and A-F

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F

With hex colors, 00 is 0% of that color, and FF is 100%. So 
#00FF00 translates to 0% red, 100% green, and 0% blue, and is 
the same as rgbb(0, 255, 0)
*/


/* The HSL color model, or hue, saturation and lightness is 
another way to represent colors.

The CSS [hsl] function accepts 3 values: a number from 0 to 360 for
hue, a percentage from 0 to 100 for saturation, and a percentage from
0 to 100 for lightness.

If you imagine a color wheel, the hue red is at 0 degrees,
green is at 120 degrees, and blue is at 240 degrees.

Saturation is the intensity of a color from 0%, or gray, to 100%
for pure color.

Lightness is how bright a color appears, from 0% or complete
black, to 100%, complete white, with 50% being neutral.
*/


/* A gradient helps us to make color transitions
The CSS [linear-gradient] function lets you control the direction of the transition along 
a line, and which colors are used.

A gradient is when one color transitions into another.

The Linear gradient function actually creates an image element, and is 
usually paired with the background property which can accept an image as a 
value 

The linear-gradiente syntax:
linear-gradient(gradientDirection, color1, color2);
*/
